.app {
	@apply flex flex-col h-full;
}

.app__header {
	@apply bg-neutral-800;
}

.app__main {
	@apply flex-grow bg-neutral-700 overflow-y-auto;
}

.app__footer {

}

#logo {
	display: block;
	width: 50%;
	height: 50%;
	margin: auto;
	padding: 10% 0 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}