.script {
	@apply flex w-full h-full;
}

.script__panel {
	@apply w-1/5 p-2;
}

.script__panel__input {
	@apply disabled:bg-neutral-800;
}

.script__panel__browse {

}

.script__panel__generate {
	@apply w-full mt-2;
}

.script__editor {
	@apply w-4/5;
}