@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
	@apply
	text-orange-600 hover:text-orange-500
	;
}


:root {
	--primary-50: 255 247 237;
	--primary-100: 255 237 213;
	--primary-200: 254 215 170;
	--primary-300: 253 186 116;
	--primary-400: 251 146 60;
	--primary-500: 250 98 21;
	--primary-600: 234 88 12;
	--primary-700: 194 65 12;
	--primary-800: 154 52 18;
	--primary-900: 124 45 18;
	--primary-950: 67 20 7;


	--surface-0: 255 255 255;
	--surface-50: 250 250 250;
	--surface-100: 244 244 245;
	--surface-200: 228 228 231;
	--surface-300: 212 212 216;
	--surface-400: 161 161 170;
	--surface-500: 113 113 122;
	--surface-600: 82 82 91;
	--surface-700: 63 63 70;
	--surface-800: 39 39 42;
	--surface-900: 24 24 27;
	--surface-950: 9 9 11;


	--primary: var(--primary-500);
	--primary-inverse: var(--surface-0);
	--primary-hover: var(--primary-600);
	--primary-active-color: var(--primary-600);

	--primary-highlight-opacity: 0.1;
	--primary-highlight-inverse: var(--primary-700);
	--primary-highlight-hover-opacity: 0.2;
}

.dark {
	--primary: var(--primary-400);
	--primary-inverse: var(--surface-900);
	--primary-hover: var(--primary-300);
	--primary-active-color: var(--primary-300);

	--primary-highlight-opacity: 0.2;
	--primary-highlight-inverse: var(--surface-0);
	--primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
	&:not(.dark) {
		--primary: var(--primary-950);
		--primary-inverse: var(--surface-0);
		--primary-hover: var(--primary-800);
		--primary-active-color: var(--primary-900);

		--primary-highlight-opacity: 1;
		--primary-highlight-inverse: var(--surface-0);
		--primary-highlight-hover-opacity: 0.8;
	}

	&.dark {
		--primary: var(--primary-50);
		--primary-inverse: var(--surface-950);
		--primary-hover: var(--primary-100);
		--primary-active-color: var(--primary-100);

		--primary-highlight-opacity: 0.1;
		--primary-highlight-inverse: var(--surface-0);
		--primary-highlight-hover-opacity: 0.2;

	}
}

.background-secondary {
	background-color: #1e1e1e;
}

html {
	background-color: rgba(27, 38, 54, 1);
	color: white;
}

body {
	margin: 0;
	color: white;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
	"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: local(""),
	url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
	height: 100vh;
	text-align: center;
}

.ql-editor {
	min-height: calc(100vh - 55px - 24px);
	padding-left: 2px;
}

/*.cm-scroller {*/
/*    background-color: blue;*/
/*}*/

.matching-sentence {
	color: white !important;
	font-weight: bold; /* Just to make it more noticeable */
	background-color: #3F6212FF;
}

.matching-character {
	color: white !important; /* Fallback color */
	background-color: #c2410c; /* Fallback background color */
	font-weight: bold; /* Just to make it more noticeable */
}

.icon {
	position: relative;
	display: inline-block;
	width: 1em; /* Adjust as needed */
	height: 1em; /* Adjust as needed */
}

.icon::before,
.icon::after {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1em;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.icon::before {
	content: "⌛️";
	animation: start-icon-animation 4s infinite;
	transform-origin: center center;
}

.icon::after {
	content: "⏳";
	opacity: 0;
	animation: end-icon-animation 4s infinite;
	transition: none;
}

@keyframes start-icon-animation {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(0deg);
	}
	55% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(180deg);
	}
	56% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

@keyframes end-icon-animation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
}